kedro==0.18.4
kedro-mlflow
pandas
matplotlib
imblearn
ipykernel
linear-tree
numpy
openpyxl
plotly
pmdarima
protobuf==3.19.1
psycopg2
regex
scikit-learn==1.1.2
seaborn
statsmodels
streamlit==1.13.0
termcolor
xgboost==1.5.2